*{box-sizing: border-box;
  

}

body{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuL04-XzFXeSODk9Q2v0_O2T5InKavHcu5_S2MCbDv13S28dAr2w);

}

.navbar-brand{
background-color:#4aaaa5;
color: #fff;
padding: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.navbar {
    background-color: #fff;
    color: #777;
    padding-left: 100px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom:#ccc 3px solid;
 
    
}

.nav-item{
    background-color: #fff;
}

.container-box {
    position: relative;
 }



.text-block{
    text-align: center;
    content: flex;
    position: absolute;
    top: 60%;
    width: 91%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#4aaaa5;
    color: #fff;
    
}


}

.navbar-nav{
    
    color:#777;
    justify-content: end;
    
   
    
}

.container1{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.container{

    margin-top: 50px;
    margin-bottom: 150px;
    padding: 0px 0px 0px 0px;
    background-color: white;
    color: #777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    width: 80%;
    
    
    
    overflow: hidden;

}

footer{
      
    
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
    overflow: hidden;
}


/* Media Queries (makes website suitable for mobile devices) */
@media(max-width: 768px){
